#componentHBox:focused {
    -fx-background-color: aquamarine;
}

#serviceHBox:focused {
    -fx-background-color: aquamarine;
}

#workflowHBox:focused {
    -fx-background-color: aquamarine;
}

#pathHBox:focused {
    -fx-background-color: aquamarine;
}